<em>Disclaimer:  Content is accurate at the time of publication, however updates and new additions happen frequently which could change the accuracy or relevance. Please keep this in mind when using my content as guidelines. Please always test in a testing or development environment, I do not accept any liability for damages caused by this content.</em>

<b>If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=JPVoogt" 
   target="_blank">
  share it with your followers</a> 
or 
<a href="https://twitter.com/JPVoogt">
  follow me on Twitter</a>!</b>